@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:wght@200&display=swap");

.project-content {
  position: relative;
  width: 100vw;
  font-family: "Montserrat", sans-serif;
  font-size: 0.9rem;
  line-height: 200%;
  color: rgb(70, 70, 70);
}

.project-content .intro {
  display: flex;
  justify-content: center;
  align-items: center;
}

.project-content .intro .logo {
  padding-left: 1rem;
}

.project-content .intro .text span {
  font-weight: bolder;
  font-size: larger;
  font-family: "Poiret One", cursive;
}

.project-content .intro .text p {
  font-weight: 600;
  font-family: "Poiret One", cursive;
}

.project-content .projects {
  margin-top: 7rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.project-content .projects .project {
  margin: 2rem;
}

/* Iphone */
@media screen and (max-width: 600px) {
  .project-content .intro .logo {
    height: 10rem;
  }

  .project-content .intro .text {
    margin-left: 1rem;
    margin-right: 3rem;
    text-align: center;
  }

  .project-content .projects {
    flex-direction: column;
  }
}

/* Ipad and small tablet */
@media screen and (min-width: 601px) and (max-width: 1250px) {
  .project-content .intro {
    margin: 0 5rem;
  }

  .project-content .intro .logo {
    height: 15rem;
  }

  .project-content .intro .text {
    margin-left: 1rem;
    text-align: left;
  }

  .project-content .projects {
    flex-direction: column;
  }
}

/* small laptops*/
@media screen and (min-width: 1250px) and (max-width: 1510px) {
  .project-content .intro {
    margin: 0 5rem;
  }

  .project-content .intro .logo {
    height: 15rem;
  }

  .project-content .intro .text {
    margin-left: 1rem;
    text-align: left;
  }

  .project-content .projects {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    grid-template-rows: repeat(2, minmax(0, auto));
    grid-gap: 2rem;
    justify-items: center;
    align-items: center;
    padding-left: 20rem;
    padding-right: 20rem;
  }

  .project-content .projects .project {
    margin: 0;
    grid-column: span 1;
    grid-row: span 1;
  }
}

/*laptops*/
@media screen and (min-width: 1510px) and (max-width: 1919px) {
  .project-content .intro {
    margin: 0 5rem;
  }

  .project-content .intro .logo {
    height: 15rem;
  }

  .project-content .intro .text {
    margin-left: 1rem;
    text-align: left;
  }

  .project-content .projects {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    grid-template-rows: repeat(2, minmax(0, auto));
    grid-gap: 2rem;
    justify-items: center;
    align-items: center;
    padding-left: 20rem;
    padding-right: 20rem;
  }

  .project-content .projects .project {
    margin: 0;
    grid-column: span 1;
    grid-row: span 1;
  }
}

/* Desktop */
@media screen and (min-width: 1920px) {
  .project-content .intro {
    margin: 0 2rem;
  }

  .project-content .intro .logo {
    height: 15rem;
  }

  .project-content .intro .text {
    margin-left: 5rem;
    text-align: left;
  }

  .project-content .projects {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    grid-template-rows: repeat(2, minmax(0, auto));
    grid-gap: 2rem;
    justify-items: center;
    align-items: center;
    padding-left: 20rem;
    padding-right: 20rem;
  }

  .project-content .projects .project {
    margin: 0;
    grid-column: span 1;
    grid-row: span 1;
  }
}
