/* General Styles */
.about {
  position: relative;
  width: 100vw;
  height: 100vh;
}
.timeline-date {
  font-size: 0.8rem !important;
  white-space: pre-wrap;
  word-break: break-word;
  hyphens: auto;
  overflow-wrap: break-word;
}
.timeline-name {
  font-size: 1rem !important;
  white-space: pre-wrap;
  word-break: break-word;
  hyphens: auto;
  overflow-wrap: break-word;
}
.about .content {
  position: absolute;
  top: 42%;
  left: 50%;
  height: 50%;
  transform: translateX(-50%) translateY(-50%);
  font-weight: 600;
  font-family: "Poiret One", cursive;
  color: black;
  overflow: visible;
}

.about .content img {
  text-align: center;
  height: 15rem;
  border-radius: 50%;
}

.about .content .paragraph {
  text-align: left;
  margin-top: 100px;
}

.about .content .info {
  text-align: right;
}

.about .content .info .name {
  font-family: "Montserrat", cursive;
  font-size: 1.5rem;
}

.about .content .exp-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Media Queries */

/* Small Screens (Iphone) */
@media screen and (max-width: 450px) {
  .about {
    height: 180vh;
  }
  .about .content {
    width: 18rem;
    font-size: 1rem;
    line-height: 180%;
    top: 30%;
  }
  .about .content .exp-container {
    display: block;
  }
  .timeline-date {
    font-size: 1rem !important;
  }

  .timeline-name {
    font-size: 1rem !important;
  }
  .exp-container {
    margin-bottom: 90px;
  }
}

/* Medium Screens (Iphone) */
@media screen and (min-width: 451px) and (max-width: 599px) {
  .about {
    height: 140vh;
  }
  .about .content {
    width: 25rem;
    font-size: 1rem;
    line-height: 180%;
    top: 30%;
  }
  .about .content .exp-container {
    display: block;
  }
  .timeline-date {
    font-size: 1rem !important;
  }

  .timeline-name {
    font-size: 1.2rem !important;
  }
  .exp-container {
    margin-bottom: 90px;
  }
}

/* Tablets and Small Screens (Ipad and small tablet) */
@media screen and (min-width: 600px) and (max-width: 1023px) {
  .about {
    height: 120vh;
  }
  .about .content {
    width: 35rem;
    font-size: 1rem;
    line-height: 180%;
  }
  .about .content .exp-container {
    display: block;
  }
  .timeline-date {
    font-size: 1rem !important;
  }

  .timeline-name {
    font-size: 1.2rem !important;
  }
  .exp-container {
    margin-bottom: 90px;
  }
}

/* Larger Tablets and Small Desktops (Ipad pro) */
@media screen and (min-width: 1023px) and (max-width: 1919px) {
  .about {
    height: 100vh;
  }
  .about .content {
    width: 60rem;
    font-size: 1rem;
    line-height: 200%;
  }

  .timeline-date {
    font-size: 0.8rem !important;
  }

  .timeline-name {
    font-size: 1rem !important;
  }
}

/* Desktop */
@media screen and (min-width: 1920px) {
  .about {
    height: 100vh;
  }
  .about .content {
    font-size: 1.4rem;
    line-height: 200%;
    width: 80rem;
  }

  .timeline-date {
    font-size: 1rem !important;
  }

  .timeline-name {
    font-size: 1.2rem !important;
  }
}
