.about {
  position: relative;
  width: 100vw;
}

.about .content {
  position: absolute;
  top: 42%;
  left: 50%;
  height: 50%;
  transform: translateX(-50%) translateY(-50%);
  font-weight: 600;
  font-family: "Poiret One", cursive;
  color: black;
  overflow: visible;
}

.about .content img {
  text-align: center;
  height: 15rem;
  border-radius: 50%;
}

.about .content .paragraph {
  text-align: left;
}

.about .content .info {
  text-align: right;
}

.about .content .info .name {
  font-family: "Montserrat", cursive;
  font-size: 1.5rem;
}

.timeline-opposite-content {
  white-space: break=spaces; /* Prevent text from wrapping */
  overflow: hidden;    /* Hide overflowed text */
}

.about .content .exp-container{
   display: flex;
   align-items:center;
   justify-content: center;
}

/* Iphone */
@media screen and (max-width: 350px) {
  .about {
    height: 180vh;
  }
  .about .content {
    width: 15rem;
    font-size: 0.8rem;
    line-height: 180%;
    top: 30%;
  }
  .about .content .exp-container {
    display: block;
    align-items: center;
    justify-content: center;
    }
}

/* Iphone */
@media screen and (min-width: 351px) and (max-width: 599px) {
  .about {
    height: 140vh;
  }
  .about .content {
    width: 18rem;
    font-size: 0.8rem;
    line-height: 180%;
    top: 30%;
  }
  .about .content .exp-container {
    display: block;
    align-items: center;
    justify-content: center;
    }
}

/* Ipad and small tablet */
@media screen and (min-width: 600px) and (max-width: 1023px) {
  .about {
    height: 120vh;
  }
  .about .content {
    width: 30rem;
    font-size: 0.8rem;
    line-height: 180%;
  }
  .about .content .exp-container {
    display: block;
    align-items: center;
    justify-content: center;
    }

}

/* Ipad pro */
@media screen and (min-width: 1023px) and (max-width: 1919px) {
  .about {
    height: 100vh;
  }
  .about .content {
    width: 65rem;
    font-size: 0.9rem;
    line-height: 200%;
  }
}

/* Desktop */
@media screen and (min-width: 1920px) {
  .about {
    height: 100vh;
  }
  .about .content {
    /* width: 70rem; */
    font-size: 0.9rem;
    line-height: 200%;
  }
}
